<!doctype html>
<html lang="en">
<head>
<meta name="author" content="Daniel Chen">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<title>MonoMuse</title>
<link rel="stylesheet" href="../static/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
    <nav>
    <a href="../index.html">Home</a>
    <a href="explore.html">Explore</a>
    <a id="navselected" href="exhibitions.html">Exhibitions</a>
    <a href="tickets.html">Buy Tickets</a>
    <a href="checkout.html">Checkout</a>
    </nav>

    </header>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    <div class="main">
    <h3>The Ancient Artifacts of the Digital Today</h3>
    <p>This exhibition explores the intersection of ancient artifacts and modern digital technology, 
        showcasing how traditional objects are reimagined in a contemporary context.</p>
    <h3>A World Beyond Our Eyes</h3>
    <p> A sensory journey into a world of audio made possible by code.</p>
    </div>
    <footer> <p> 2026 MonoMuse. All rights reserved.</p> </footer>

</body>

</html>