<!doctype html>
<html lang="en">
<head>
<meta name="author" content="Daniel Chen">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<meta charset="utf-8">
<title>MonoMuse</title>
<link rel="stylesheet" href="../static/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="../static/script.js" defer></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>
<body onload="addYear()">
    <div class="container">
    <header class="header">

    </header>
  <nav class="topnav" id="navbar">
  <a class = "firstLink" href="../index.html">Home</a>
  <a href="explore.html">Explore</a>
  <a href="exhibitions.html">Exhibitions</a>
  <a href="tickets.html">Buy Tickets</a>
  <a href="checkout.html">Checkout</a>
  <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
  <a href="javascript:void(0);" class="icon" onclick="toggleNav()">&#9776;</a>
</nav>
    <main class="main">
    <h3>The Ancient Artifacts of the Digital Today</h3>
    <p>This exhibition explores the intersection of ancient artifacts and modern digital technology, 
        showcasing how traditional objects are reimagined in a contemporary context.</p>
    <h3>A World Beyond Our Eyes</h3>
    <p> A sensory journey into a world of audio made possible by code.</p>
    <h2>Fun Facts</h2>
    <div id="accordion">
  <h3>One Piece</h3>
  <div>
    One Piece has over 500 million copies in circulation, making it the best-selling manga of all time, outselling the entire Harry Potter series.
  </div>
  <h3>Origins of Manga Style</h3>
  <div>
    I'm kind of going insane.
  </div>
  <h3>Yugioh Trivia</h3>
  <div>
    Manga is first published chapter by chapter in weekly magazines like Shonen Jump, then later collected into volumes sold in stores.
  </div>
    </main>
  

</div>
</body>

</html>