<!doctype html>
<html lang="en">
<head>
<meta name="author" content="Your name">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<meta charset="utf-8">
<title>MonoMuse</title>
<link rel="stylesheet" href="../static/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <div class="container">
    <header class="header">
    </header>
    <nav class="nav_bar">
    <a href="../index.html">Home</a>
    <a href="explore.html">Explore</a>
    <a href="exhibitions.html">Exhibitions</a>
    <a href="tickets.html">Buy Tickets</a>
    <a href="checkout.html">Checkout</a>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    </nav>
    <main class="main">
   
    <img src="../images/explore.jpg" height="300" width="400" alt="Explore MonoMuse">
    <h2>Mission Statement</h2>
    <p> Monomuse is dedicated to exploring the evolving relationship between art, technology, and society. 
    Our mission is to inspire curiosity, and creativity. 
    </p>
    <h2> Milestones </h2>
    <ul>
        <li>Founded in 2020</li>
        <li>First exhibition opened in 2021</li>
        <li>Expanded to include digital art installations</li>
    </ul>


    </main>
    <footer class="footer"> <p id="copyYear"></p> <p> MonoMuse. All rights reserved.</p> </footer>
    </div>
</body>

</html>